$black: #000000;
$white: #FFFFFF;
$dark-gray: #696969;

body {
  background-color: $black;
  margin: 0;
}

.container {
  padding: 20px;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button, .input, .picture {
  margin-bottom: 30px;
}